In [1]:
import pandas as pd
from pathlib import Path

In [2]:
df = pd.read_csv(Path('./vine_table.csv'))
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [3]:
total_votes_df = df[df.total_votes>=20]

In [4]:
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [5]:
total_votes_df['vote_ratio'] = total_votes_df.apply(lambda row: row.helpful_votes / row.total_votes, axis=1)

C:\Users\theon\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,vote_ratio
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N,0.770492
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y,0.913043
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y,0.973684
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N,0.891892
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y,0.958333

In [7]:
helpful_votes_df = total_votes_df[total_votes_df.vote_ratio>=0.5]

In [8]:
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,vote_ratio
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N,0.770492
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y,0.913043
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y,0.973684
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N,0.891892
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y,0.958333

In [9]:
yes_vine_df = helpful_votes_df[helpful_votes_df.vine=='Y']

In [10]:
no_vine_df = helpful_votes_df[helpful_votes_df.vine=='N']

In [11]:
len(yes_vine_df)

60

In [12]:
len(no_vine_df)

14477

In [13]:
len(yes_vine_df[yes_vine_df.star_rating==5])

34

In [14]:
len(no_vine_df[no_vine_df.star_rating==5])

8212

In [15]:
len(yes_vine_df[yes_vine_df.star_rating==5]) / len(yes_vine_df) * 100

56.666666666666664

In [16]:
len(no_vine_df[no_vine_df.star_rating==5]) / len(no_vine_df) * 100

56.72445948746287